@import "../../../styles/utils/vars.scss";
@import "../../../styles/utils/mixins.scss";



.app-preview {
	
	&__header {
		display: inline-flex;
		overflow: auto;
		scrollbar-width: 0;
		gap: 16px;
		max-width: 100%;
		margin-bottom: 50px;
		padding-bottom: 10px;
	}

	&__item-wrap{
		padding: 16px 32px 16px 16px;
		background:transparent;

		border-radius: 20px;
		border:1px solid #0D0D10;
		text-wrap:nowrap;

		&.is-active{
			border:1px solid transparent;
			background: #F6F6F6;
		}
	}

	&__content{
		display: flex;
		overflow: auto;
		scrollbar-width: 0;
		gap:20px;
		
		@include onTablet{
			gap:40px;
		}
	
	}

	&__content-img{
		max-width: 208px;

		@include onTablet{
			max-width: 270px;
			height: auto;
		}
	}
}


.app-preview-item {
	display: flex;
	gap: 8px;
	&__left {
	}

	&__icon{
		height: 20px;
	}

	

	&__name-wrap {
		border-radius: 6px;
		padding: 4px 6px;
		background-color: #e8e8e8;
		display: flex;
		align-items: center;
		gap: 5px;
		margin-bottom: 8px;
		
	}

	&__name {
		font-size: 14px;
		font-weight: 700;
		line-height: 20px;

		@include onDesktop1200 {
		}
	}

	&__title {
		font-size: 24px;
		font-weight: 600;
		line-height: 28px;
	}
}
