@import "../../styles/utils/vars.scss";
@import "../../styles/utils/mixins.scss";

.s-posibilities {
	padding: 32px 0;

	&__title {
		text-align: center;
		margin-bottom: 20px;
	}
}

.posibilities {
	display: flex;
	flex-direction: column;
	gap: 16px;

	@include onDesktop1200 {
		flex-direction: row;
	}

	&__item {
		padding: 24px;
		background-color: #f6f6f6;
		border-radius: 24px;
	}

	&__header {
		font-size: 42px;
		line-height: 48px;
		font-weight: 600;
		color: #0d0d10;
		margin-bottom: 24px;
	}

	&__title {
		font-size: 24px;
		line-height: 28px;
		font-weight: 600;
		margin-bottom: 8px;
	}

	&__text {
		font-size: 16px;
		line-height: 20px;
		color: #5b5c55;
	}
}
