@font-face {
	font-family: "Inter";
	font-style: normal;
	font-weight: 400;
	src: url("../../../public/fonts/Inter/Inter-Regular.ttf");
}
@font-face {
	font-family: "Inter";
	font-style: normal;
	font-weight: 500;
	src: url("../../../public/fonts/Inter/Inter-Medium.ttf");
}

@font-face {
	font-family: "Inter";
	font-style: normal;
	font-weight: 600;
	src: url("../../../public/fonts/Inter/Inter-SemiBold.ttf");
}
