@import "../../../styles/utils/vars.scss";
@import "../../../styles/utils/mixins.scss";

.s-partners-adv {
    padding: 30px 0;

    &__title{
        font-size: 20px;
        text-align: center;
        margin-bottom: 16px;

        @include onDesktop1200 {
            font-size: 32px;
        }
    }
}

.partners-adv { 
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 8px;

    @include onTablet {
        flex-direction: row;
    }

    &__item{
        border-radius: 24px;
        padding: 32px 24px;
        background-color: #F6F6F6;
        width: 100%;

        @include onTablet {
            width: 49%;
        }
    }

    &__header {
        color: #0D0D10;
        font-size: 42px;
    }

    &__title{
        color: $main-color;
        font-size: 24px;
        font-weight: 500;
        margin-bottom: 5px;
    }

    &__description {
        font-size: 16px;
        color : #5B5C55;
    }
}
