@import "../../styles/utils/vars.scss";
@import "../../styles/utils/mixins.scss";

.header-languages {
	display: none;
	@include onTablet {
		display: block;
	}
}

.wrapprer-languages-select {
	min-width: 106px;
	margin-right: 15px;

	& > div:focus-visible {
		outline: none !important;
		border: none;
	}
}

.wrapprer-languages-select .wrapprer-languages {
	display: none;


	&__control {
		border: none !important;
		box-shadow: none;
		background-color: transparent;
		cursor: pointer;
	}

	&__indicator {
		padding-left: 0;
	}

	&__single-value {
		color: #0d0d10;
		font-weight: 500;
	}

	&__indicator-separator {
		display: none !important;
	}

	&__option {
		&--is-selected > div {
			color: #fff;
		}
	}

	&__select {
		z-index: 9999999;
		border: none;
		font-weight: 500;

		&:focus option {
			border: none;
			outline: none;
		}
	}

	@include onTablet {
		display: block;
		margin-right: 10px;
	}
}
