.modal-success {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	min-height: 494px;
	max-width: 390px;
	width: 100%;
	padding: 80px 24px 20px;
	z-index: 9999;
	background-image: url(../../../assets/images/bg.webp);
	background-size: cover;
	background-position: center;
	border-radius: 24px;

	&__close {
		position: absolute;
		content: "";
		width: 24px;
		height: 24px;
		top: 32px;
		right: 24px;
		cursor: pointer;
	}

	&__header {
		margin-top: 70px;
		margin-bottom: 32px;
		text-align: center;

		& img {
			margin: 0 auto;
		}
	}

	&__title {
		font-size: 24px;
		line-height: 28px;
		font-weight: 600;
		color: #0d0d10;
		text-align: center;
		margin-bottom: 10px;
	}

	&__text {
		margin-bottom: 8px;
		color: #9b9b9b;
		text-align: center;
	}
}
