@import "../../styles/utils/vars.scss";
@import "../../styles/utils/mixins.scss";

.footer {
	background-image: url(../../assets/images/bg.webp);
	background-size: cover;
	background-position: center;
	padding: 32px 24px;
	max-width: 1200px;
	margin: 40px auto 0;
	position: relative;
	border-top-left-radius: 24px;
	border-top-right-radius: 24px;

	@include onDesktop1200 {
		border-radius: 24px;
	}

	&__language {
		@include onDesktop1200 {
			display: none;
		}
	}

	&:after {
		@include onDesktop1200 {
			content: "";
			position: absolute;
			top: -60px;
			left: 50%;
			width: 500px;
			background-image: url(../../assets/images/footer-display.webp);
			background-size: cover;
			height: 800px;
		}
	}
}

.feedbacks {
	display: flex;
	max-width: 580px;
	flex-wrap: wrap;
	flex-direction: column;

	@include onTablet {
		flex-direction: row;
		column-gap: 30px;
	}
	&__title {
		font-size: 16px;
		line-height: 22px;
		font-weight: 500;
		margin-bottom: 12px;
		color: #5b5c55;
	}

	&__phones-wrap {
		margin-bottom: 25px;
		flex-shrink: 0;
		display: flex;
		flex-wrap: wrap;
		row-gap: 15px;
		flex-direction: column;

		@include onTablet {
			flex-direction: row;
			column-gap: 20px;
		}
	}

	&__phones {
		display: flex;
	}

	&__icons {
		display: flex;
		margin-right: 12px;
		gap: 4px;
		@include onTablet {
			flex-direction: row;
		}
	}

	&__social-wrap {
		margin-bottom: 32px;
	}

	&__social {
		display: flex;
		gap: 17px;
	}
	&__agreemenent {
		display: flex;
		flex-direction: column;
		gap: 17px;

		@include onTablet {
			flex-direction: row;
			flex-wrap: wrap;
		}
	}

	&__agreemenent-wrap {
		flex-shrink: 0;
	}

	&__agreemenent-link {
		text-transform: uppercase;
		font-size: 14px;
		line-height: 20px;
		font-weight: 500;
		color: #0d0d10;
	}
	&__number {
		font-size: 16px;
		line-height: 22px;
		font-weight: 500;
		color: #0d0d10;
	}
}
