@import "./styles//Fonts/fonts.scss";
@import "./styles/utils/reset.scss";
@import "./styles/utils/vars.scss";
@import "./styles/utils/mixins.scss";

.header-wrapper {
	margin: 0 auto 24px;
	max-width: 1200px;
}

.main-container {
	max-width: 1200px;
	padding: 0 10px;
	margin: 0 auto;
}

h2 {
	font-size: 20px;
	line-height: 28px;
	font-weight: 600;
	color: #0d0d10;

	@include onDesktop1200 {
		font-size: 32px;
		line-height: 40px;
	}
}

img {
	max-width: 100%;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}
