@import "../../../styles//utils/vars.scss";
@import "../../../styles//utils/mixins.scss";

.wrapper-nav {
	display: none;

	@include onDesktop1200 {
		display: block;
	}
}

.nav {
	display: flex;
	margin-right: 32px;
	gap: 32px;

	&__link {
		font-size: 16px;
		line-height: 22px;
		font-weight: 500;
		cursor: pointer;
	}
}
