@import "../../../styles//utils/vars.scss";
@import "../../../styles//utils/mixins.scss";

.mobile-menu {
	position: fixed;
	z-index: 999;
	padding: 25px 16px;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url("../../../assets/images/bg.webp");
	background-size: cover;
	background-position: center;
	display: flex;
	transform: translateX(100%);
	transition: all 0.5s ease;
	flex-direction: column;

	&.active {
		transform: translateX(0);
		transition: all 0.5s ease;
	}

	&__header {
		display: flex;
		justify-content: space-between;
		margin-bottom: 40px;
	}

	& .wrapper-nav {
		display: block;
	}

	& .nav {
		flex-direction: column;
		margin-bottom: 10px;

		&__link {
			display: block;
		}
	}

	@include onDesktop1200 {
		display: none;
	}
}

.language-mobile-wrap {
	margin-top: auto;
}
